/*
* Copyright (c) 2022 Kumar Gala <galak@kernel.org>
*
* SPDX-License-Identifier: Apache-2.0
*/

/ {
	zephyr,user {
		io-channels =
		<&xiao_adc 0x00>,
		<&xiao_adc 0x04>,
		<&xiao_adc 0x12>,
		<&xiao_adc 0x13>,
		<&xiao_adc 0x10>,
		<&xiao_adc 0x11>,
		<&xiao_adc 0x02>,
		<&xiao_adc 0x06>;
	};
	chosen {
		zephyr,console = &cdc_acm_uart0;
		zephyr,shell-uart = &cdc_acm_uart0;
	};

	aliases {
		channel-select-a = &channel_select_a;
		channel-select-b = &channel_select_b;
		channel-select-c = &channel_select_c;
	};

	pins {
		compatible = "gpio-leds";
		channel_select_a: channel-select-a {
			gpios = <&xiao_d 9 GPIO_ACTIVE_HIGH>;
			label = "Channel Select A";
		};
		channel_select_b: channel-select-b {
			gpios = <&xiao_d 8 GPIO_ACTIVE_HIGH>;
			label = "Channel Select B";
		};
		channel_select_c: channel-select-c {
			gpios = <&xiao_d 7 GPIO_ACTIVE_HIGH>;
			label = "Channel Select C";
		};
	};
};

&xiao_dac {
	status = "disabled";
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};

/*
A0 - PA2B_ADC_AIN0
A6 - PB8B_ADC_AIN2
A7 - PB9B_ADC_AIN3
A1 - PA4B_ADC_AIN4
A9 - PA5B_ADC_AIN5
A10 - PA6B_ADC_AIN6
A8 - PA7B_ADC_AIN7
A4 - PA8B_ADC_AIN16
A5 - PA9B_ADC_AIN17
A2 - PA10B_ADC_AIN18
A3 - PA11B_ADC_AIN19
*/
&pinctrl {
	xiao_adc_default: xiao-adc-default {
		group1 {
			pinmux = <PA2B_ADC_AIN0>,  /* A0 */
			<PA4B_ADC_AIN4>,  /* A1 */
			<PA10B_ADC_AIN18>, /* A2 */
			<PA11B_ADC_AIN19>,  /* A3 */
			<PA8B_ADC_AIN16>,  /* A4 */
			<PA9B_ADC_AIN17>,  /* A5 */
			<PB8B_ADC_AIN2>,  /* A6 */
			<PA6B_ADC_AIN6>;  /* A10 */
		};
	};
};

&xiao_adc {
	status = "okay";
	pinctrl-0 = <&xiao_adc_default>;
	pinctrl-names = "default";
	#address-cells = <1>;
	#size-cells = <0>;
	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1_2";
		zephyr,reference = "ADC_REF_VDD_1_2";
		zephyr,vref-mv = <1650>;
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 4)>;
		zephyr,input-positive = <0>;
		zephyr,resolution = <12>;
		zephyr,oversampling = <10>;
	};
	channel@4 {
		reg = <4>;
		zephyr,gain = "ADC_GAIN_1_2";
		zephyr,reference = "ADC_REF_VDD_1_2";
		zephyr,vref-mv = <1650>;
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 4)>;
		zephyr,input-positive = <4>;
		zephyr,resolution = <12>;
		zephyr,oversampling = <10>;
	};
	channel@12 {
		reg = <0x12>;
		zephyr,gain = "ADC_GAIN_1_2";
		zephyr,reference = "ADC_REF_VDD_1_2";
		zephyr,vref-mv = <1650>;
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 4)>;
		zephyr,input-positive = <0x12>;
		zephyr,resolution = <12>;
		zephyr,oversampling = <10>;
	};
	channel@13 {
		reg = <0x13>;
		zephyr,gain = "ADC_GAIN_1_2";
		zephyr,reference = "ADC_REF_VDD_1_2";
		zephyr,vref-mv = <1650>;
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 4)>;
		zephyr,input-positive = <0x13>;
		zephyr,resolution = <12>;
		zephyr,oversampling = <10>;
	};
	channel@10 {
		reg = <0x10>;
		zephyr,gain = "ADC_GAIN_1_2";
		zephyr,reference = "ADC_REF_VDD_1_2";
		zephyr,vref-mv = <1650>;
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 4)>;
		zephyr,input-positive = <0x10>;
		zephyr,resolution = <12>;
		zephyr,oversampling = <10>;
	};
	channel@11 {
		reg = <0x11>;
		zephyr,gain = "ADC_GAIN_1_2";
		zephyr,reference = "ADC_REF_VDD_1_2";
		zephyr,vref-mv = <1650>;
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 4)>;
		zephyr,input-positive = <0x11>;
		zephyr,resolution = <12>;
		zephyr,oversampling = <10>;
	};
	channel@2 {
		reg = <2>;
		zephyr,gain = "ADC_GAIN_1_2";
		zephyr,reference = "ADC_REF_VDD_1_2";
		zephyr,vref-mv = <1650>;
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 4)>;
		zephyr,input-positive = <2>;
		zephyr,resolution = <12>;
		zephyr,oversampling = <10>;
	};
	channel@6 {
		reg = <6>;
		zephyr,gain = "ADC_GAIN_1_2";
		zephyr,reference = "ADC_REF_VDD_1_2";
		zephyr,vref-mv = <1650>;
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 4)>;
		zephyr,input-positive = <6>;
		zephyr,resolution = <12>;
		zephyr,oversampling = <10>;
	};
};

&wdog {
	status = "okay";
};
